$color-dark-grey: #222;
$color-light-grey: #bdbdbd;
$color-swamp: #000F1A;
$color-punch: #DB3A34;
$color-tundora: #404040;
$color-dodger-blue: #2499F2;
$color-white: #ffffff;
$color-transparent-white: rgba(255, 255, 255, 0.2);
$color-black: black;
$color-red: #f00;

$font-raleway: 'Raleway', Arial, sans-serif;
