<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COVID-19 Dashboard</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <div class="container">
    <header>
      <div id="hamburger-menu"></div>
    </header>
    <main class="grid">
      <section class="gl-cases">
        <h2>Global Cases</h2>
        <h3 class="total_cases"></h3>
        <h3 class="update_time"></h3>
        <span class="popup_open"><img src="../assets/img/open.svg" alt=""></span>
      </section>
      <section class="map">
        <h2>Map</h2>
      </section>
      <section class="gl-deaths">
        <div class="radiobuttons_show_wrapper">
          <input type="checkbox" name="" class="show_radiobuttons" id="table_show_radiobuttons">
          <label for="table_show_radiobuttons">Show Options</label>
        </div>

        <div class="table_radiobuttons radiobuttons">
          <div id="map-period-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="cumulative" type="radio" name="period2" value="cumulative" checked="checked">
              <label for="cumulative">Cumulative</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="daily" type="radio" name="period2" value="daily">
              <label for="daily">Daily</label>
            </div>
          </div>

          <div id="map-status-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="confirmed" type="radio" name="status2" value="confirmed" checked="checked">
              <label for="confirmed">Confirmed</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="recovered" type="radio" name="status2" value="recovered">
              <label for="recovered">Recovered</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="deaths" type="radio" name="status2" value="deaths">
              <label for="deaths">Death</label>
            </div>
          </div>

          <div id="map-period-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="absolute" type="radio" name="value" value="absolute" checked="checked">
              <label for="absolute">Absolute</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="relative" type="radio" name="value" value="relative">
              <label for="relative">Relative</label>
            </div>
          </div>
        </div>

        <h2 class="stats_heading">Global Deaths</h2>
        <h3 class="total_deaths"></h3>
        <div class="total_deaths_list list">
          <ul></ul>
        </div>

        <span class="popup_open"><img src="../assets/img/open.svg" alt=""></span>
      </section>
      <section class="us">
        <h2>US State Level Deaths, Recovered</h2>
        <div class="us_deaths_list list">
          <ul></ul>
        </div>
        <span class="popup_open"><img src="../assets/img/open.svg" alt=""></span>
      </section>
      <section class="loc-cases">
        <div class="radiobuttons_show_wrapper">
          <input type="checkbox" name="" class="show_radiobuttons" id="list_show_radiobuttons">
          <label for="list_show_radiobuttons">Show Options</label>
        </div>
        <div class="list_radiobuttons radiobuttons">
          <div id="map-period-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="cumulative" type="radio" name="period1" value="cumulative" checked="checked">
              <label for="cumulative">Cumulative</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="daily" type="radio" name="period1" value="daily">
              <label for="daily">Daily</label>
            </div>
          </div>

          <div id="map-status-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="confirmed" type="radio" name="status1" value="confirmed" checked="checked">
              <label for="confirmed">Confirmed</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="recovered" type="radio" name="status1" value="recovered">
              <label for="recovered">Recovered</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="deaths" type="radio" name="status1" value="deaths">
              <label for="deaths">Death</label>
            </div>
          </div>

          <div id="map-period-rates" class="map-rates">
            <div class="map-rates__wrapper">
              <input id="absolute" type="radio" name="value1" value="absolute" checked="checked">
              <label for="absolute">Absolute</label>
            </div>
            <div class="map-rates__wrapper">
              <input id="relative" type="radio" name="value1" value="relative">
              <label for="relative">Relative</label>
            </div>
          </div>
        </div>

        <input class="country_input" type="text">
        <button class="input_btn_global">Global</button>

        <div class="total_cases_list list">
          <ul></ul>
        </div>

        <span class="popup_open"><img src="../assets/img/open.svg" alt=""></span>

      </section>
      <section class="histogram">
        <h2>Histogram</h2>
        <div class="graph">
        </div>
        <div class="graph__selector">
          <div class="left-arrow">&#9668</div>
          <div class="graph__metrics">Daily Cases</div>
          <div class="right-arrow">&#9658</div>
        </div>
        <img class="graph__full-screen" src="../assets/img/open.svg" alt="open">
      </section>
    </main>
    <footer>
      <div class="footer-rows">
        <a href="https://github.com/alesyakuptsova" target="_blank">Alesia</a>
        <a href="https://github.com/lemeshkonastya" target="_blank">Anastasia</a>
        <a href="https://github.com/spanb4" target="_blank">Dzmitry</a>
        <a href="https://github.com/magklax" target="_blank">Nadezda</a>
      </div>
      <p>2020</p>
      <a href="https://rs.school/js/" target="_blank"><img src="/assets/img/rs_school_js.svg" alt="rs school"
          class="icon-class"></a>
    </footer>
    <div class="histogram__popup">
      <div class="graph__close">&times</div>
      <div class="histogram__popup_content">
      </div>
    </div>
    <div class="keyboard_wrapper">
      <div class="simple-keyboard"></div>
    </div>
  </div>
  <template id="map-legend-item-template">
    <li class="map-legend__item">
      <span class="map-legend__wrapper">
        <span class="map-legend__point"></span>
      </span>
      <span class="map-legend__number">1 000 000 – 5 000 000</span>
    </li>
  </template>
</body>

</html>