.graph {
    width: 100%;

    &__selector {
        padding: 0 60px 10px;
        display: flex;
        justify-content: space-between;
        color: $color-white;
    }

    &__full-screen {
        position: absolute;
        right: 0;
        top: 0;
        margin: 420px 20px 0 0;
        width: 30px;
        height: 30px;
    
        &:hover {
            cursor: pointer;
        }
    }

    &__popup {
        width: 89%;
        height: 80%;
    }

    &__close {
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 60px;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.histogram__popup {
    position: absolute;
    z-index: 99;
    top: 0;
    margin-top: 0;
    display: none;
    width: 99%;
    height: 100%;
    background-color: $color-tundora;

    &_content {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
}