// .histogram {
//     margin: 0 auto;
// }

.graph {
    margin-bottom: 30px;
    width: 480px; 
    height: 200px;
}

.graph__selector {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    color: $color-white;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}